<div id="mainPlate" class="row fullWidth marginless">
	<div class="column large-5 listPlate">
		<div class="bx" ng-repeat="itm in soore.items track by $index">
			<p class="aye">
			{{itm}}<span class="number">{{numbers[$index]}}</span>
			</p>
			<p class="translate">
			{{translates[0][$index]}}
			</p>
		</div>
	</div>
	<div class="column large-7 detailPlate paddingless">
		<div class="bx tafsirBox">
			<h2 class="title">تفسیر</h2>
			<p class="text">
				سوره یس (خوانده می‌شود: یاسین) سوره ۳۶ از قرآن است، ۸۳ آیه دارد، و سوره‌ای مکی است. این سوره قلب قرآن نام گرفته‌است و روایات متعددی آن را از جمله سوره‌های مهم قرآن شمرده‌اند. محتوای این سوره در حالت کلی پیرامون توحید، معاد، وحی، قرآن، و بشارت و انذار است. بحث نخست پیرامون نبوت پیامبر اسلام و قرآن است؛ پس از بحثی پیرامون پیامبران قبلی و تسلی پیامبر، بحثی پیرامون توحید شده و سرانجام در مورد معاد و ویژگی‌های روز قیامت سخن می‌گوید.
				<br/>
				سوره یس (خوانده می‌شود: یاسین) سوره ۳۶ از قرآن است، ۸۳ آیه دارد، و سوره‌ای مکی است. این سوره قلب قرآن نام گرفته‌است و روایات متعددی آن را از جمله سوره‌های مهم قرآن شمرده‌اند. محتوای این سوره در حالت کلی پیرامون توحید، معاد، وحی، قرآن، و بشارت و انذار است. بحث نخست پیرامون نبوت پیامبر اسلام و قرآن است؛ پس از بحثی پیرامون پیامبران قبلی و تسلی پیامبر، بحثی پیرامون توحید شده و سرانجام در مورد معاد و ویژگی‌های روز قیامت سخن می‌گوید.
			</p>
		</div>
		<div class="bx sarfBox">
			<h2 class="title">صرف و نحو</h2>
			<p class="text">
				کلمهٔ «یس» (آیهٔ اول این سوره) از حروف مقطعهٔ قرآن است ولی معانی مختلفی برای آن ذکر شده‌است. از جمله اینکه «یا» به معنی حرف ندا و «سین» اشاره به پیامبر اسلام دارد. در روایتی از جعفر صادق آمده است که «یس» نام پیامبر اسلام است به این دلیل که قرآن پس از آن می‌گوید «تو از پیامبرانی و بر راه راست».کلمهٔ «یس» (آیهٔ اول این سوره) از حروف مقطعهٔ قرآن است ولی معانی مختلفی برای آن ذکر شده‌است. از جمله اینکه «یا» به معنی حرف ندا و «سین» اشاره به پیامبر اسلام دارد. در روایتی از جعفر صادق آمده است که «یس» نام پیامبر اسلام است به این دلیل که قرآن پس از آن می‌گوید «تو از پیامبرانی و بر راه راست».
				<br/>
				کلمهٔ «یس» (آیهٔ اول این سوره) از حروف مقطعهٔ قرآن است ولی معانی مختلفی برای آن ذکر شده‌است. از جمله اینکه «یا» به معنی حرف ندا و «سین» اشاره به پیامبر اسلام دارد. در روایتی از جعفر صادق آمده است که «یس» نام پیامبر اسلام است به این دلیل که قرآن پس از آن می‌گوید «تو از پیامبرانی و بر راه راست».
			</p>
		</div>
		<div class="bx hadisBox">
			<h2 class="title">احادیث</h2>
			<p class="text">
				امامان (علیهم السلام) برای این که مۆمنان را از موقعیت ممتاز این سوره که چونان قلّه‌ای پوشیده از فضایل است، آگاه کنند، فرموده اند: «یس قلب قرآن است».
				<br/>
				موقعیت ممتاز و جایگاه برتر و منحصر به فرد بودن قلب در بدن انسان بر کسی پوشیده نیست. سوره یس نیز دارای همان موقعیت و جایگاه در میان دیگر سوره ها است و از این رو لازم است قدری از برداشت سطحی و عمومی از این سوره فراتر رویم و با بخشی از فضایل و مناقب این سوره آشنا شویم.
					<br/>
				چنین نیست که فضایل و عجایب سوره یس تنها در زمانه خاصّی کشف شده باشد. با مطالعه تاریخ در می یابیم از همان صدر اسلام، از این سوره با شگفتی یاد می‌شده و فضایلش معروف بوده است. حتّی گاهی بزرگانی را به فکر وا می داشته که این همه فضیلت برای این سوره ناشی از کدام یک از آیات آن است.
					<br/>
				ابن عباّس می گوید: مدّت ها فکر می کردم که منشأ این همه فضیلت در سوره یس چیست. او می‌گوید تمام آثار و فضایل این سوره به دلیل وجود این آیه شریفه ‌است: «إنَّما أمْرُهُ إذا أرادَ شَیئاً اَنْ یقولَ لَهُ كُنْ فَیكُونَ» «همانا فرمان او چنین است که هرگاه چیزی را اراده کند، تنها به آن می گوید: «موجود باش!» آن نیز بی درنگ موجود می شود.»

			</p>
		</div>
		<div class="bx moreDetailBox">
			<h2 class="title">سایر اطلاعات</h2>
			<p class="text">
				کلمهٔ «یس» (آیهٔ اول این سوره) از حروف مقطعهٔ قرآن است ولی معانی مختلفی برای آن ذکر شده‌است. از جمله اینکه «یا» به معنی حرف ندا و «سین» اشاره به پیامبر اسلام دارد. در روایتی از جعفر صادق آمده است که «یس» نام پیامبر اسلام است به این دلیل که قرآن پس از آن می‌گوید «تو از پیامبرانی و بر راه راست».کلمهٔ «یس» (آیهٔ اول این سوره) از حروف مقطعهٔ قرآن است ولی معانی مختلفی برای آن ذکر شده‌است. از جمله اینکه «یا» به معنی حرف ندا و «سین» اشاره به پیامبر اسلام دارد. در روایتی از جعفر صادق آمده است که «یس» نام پیامبر اسلام است به این دلیل که قرآن پس از آن می‌گوید «تو از پیامبرانی و بر راه راست».
				<br/>
				کلمهٔ «یس» (آیهٔ اول این سوره) از حروف مقطعهٔ قرآن است ولی معانی مختلفی برای آن ذکر شده‌است. از جمله اینکه «یا» به معنی حرف ندا و «سین» اشاره به پیامبر اسلام دارد. در روایتی از جعفر صادق آمده است که «یس» نام پیامبر اسلام است به این دلیل که قرآن پس از آن می‌گوید «تو از پیامبرانی و بر راه راست».
			</p>
		</div>
		<div class="bx extraDetailBox">
			<h2 class="title">اطلاعات بیشتر</h2>
			<p class="text">در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.
			<br/>
			در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.
			<br/>در عروسی ایرانی، هنگامی که خطبه خوانده می‌شود معمولاً سورهٔ یاسین از قرآن باز است و عروس آن را می‌خواند.
			</p>
		</div>

	</div>
</div>