<div id="siyaghPlate" layout="column">
	
	<div class="bottomPlate" flex="100" layout="row">
		
		<div class="siyaghPlate left" flex="5" layout="column" layout-align="center center">
			<div class="controlSiyaghButton">
				<span class="icon" ng-click="controlSiyagh(-1)"></span>
			</div>
		</div>
		
		<div class="detailPlate" flex="45" layout="column" layout-align="center center">
			<p class="translateBox"><span class="translate" ng-repeat="idx in siyagh[currentSiyagh]">{{translates[0][idx]}}</span>
			</p>
		</div>
		
		<div class="listPlate" flex="45" layout="column" layout-align="center center">
			<div class="verseBox">
				<p class="verse" ng-repeat="idx in siyagh[currentSiyagh]">
					{{soore.items[idx]}}<span class="number">{{numbers[idx]}}</span>
				</p>
			</div>
		</div>

		<div class="siyaghPlate right" flex="5" layout="column" layout-align="center center">
			<div class="controlSiyaghButton">
				<span class="icon" ng-click="controlSiyagh(+1)"></span>
			</div>
		</div>

	</div>
	
</div>