<div id="impresshook">
    <div class="impress">
        <div class="step slide main">
          <div layout="column"  style="height:100%;" >
            <img class="logo" src="/static/image/logo.svg">
            <div layout="row" flex="100" layout-align="space-around center">
              <div>
                <h2 class="link" ng-click="$emit('goIdentityPage')">شناسنامه</h2>
              </div>
              <div>
                <h2 class="link" ng-click="$emit('goHadisPage')">احادیث</h2>
              </div>
              <div>
                <h2 class="link" ng-click="$emit('goStructurePage')">ساختار</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="step slide data" 
        data-x="3000"
        data-y="3000"
        data-z="400"
        data-rotate-x="30"
        data-rotate-y="100"
        data-rotate-z="10"
        transitionDuration="4000">
          <h1 class="title">شناسنامه</h1>
          <p class="text">شیراز یکی از شهرهای بزرگ ایران و مرکز استان اين سوره‌، مشهور به سوره "يس‌" است‌؛ (خوانده می شود: یاسین)، زيرا با كلمه "يس‌" كه يكي از حروف رمزي و مقطعه قرآن است‌، آغاز مي‌شود.
          <br/>
          سوره "يس‌" به ترتيب جمع‌آوري‌، 36 امین سوره‌اي است كه بعد از سوره "فاطر" و قبل از سوره "صافات‌" قرار دارد و به ترتيب نزول‌، 41 امین سوره‌اي است كه بعد از سوره  "جن‌ّ" و قبل از سوره "فرقان‌" در مكه نازل شده‌است‌.
          <br/>
          طبق روايات زيادي كه در شأن نزول سوره يس نقل شده‌، اين سوره با فضيليت‌ترين و يا لااقل يكي از با فضيلت‌ترين سوره هاي قرآن به شمار مي‌رود. مطالب این سوره بر محور عقاید است و تعلیم آن به فرزندان و هدیه كردن ثواب قرائت آن به مردگان سفارش شده است.
          <br/>
          اطلاعات آماری:
          <br/>
          تعداد آیه: 83 ، تعداد کلمات: 733 و تعداد حروف:3068</p>
        </div>

        <div class="step slide data" 
        data-x="1000"
        data-y="6000"
        data-z="600"
        scale="4"
        data-rotate-x="30"
        data-rotate-y="10"
        data-rotate-z="100"
        transitionDuration="4000">
          <div style="height:100%;width:100%;overflow-y: auto;">
            <h1 class="title">احادیث</h1>
            <div class="hadisBox textBox" ng-repeat="hds in allHadises">
              <h2 class="text">{{hds.text}}</h2>
              <p class="translate">{{hds.translate}}</p>
              <p class="from"><span>{{hds.from}}</span></p>
            </div>
          </div>
          
        </div>

        <div class="step slide main" 
        data-x="4000"
        data-y="6000"
        data-z="1000"
        scale="4"
        data-rotate-x="30"
        data-rotate-y="10"
        data-rotate-z="200"
        transitionDuration="4000">
          <div layout="column"  style="height:100%;" >
            <h2 class="title">ساختار سوره</h2>
            <div layout="row" flex="100" layout-align="space-around center">
              <div>
                <h2 class="link">ساختار ۱</h2>
              </div>
              <div>
                <h2 class="link">ساختار ۲</h2>
              </div>
              <div>
                <h2 class="link">ساختار ۳</h2>
              </div>
            </div>
          </div>
          
        </div>
        
        <!-- <div class="step slide" 
        ng-repeat="i in [1,2,3,4,5,6,7,8]"
        data-x="{{((i%2)-1) * 800}}"
        data-y="{{(i%4) * 800}}"
        data-z="{{-i * 500}}"
        data-rotate-x="{{((i%2)-1) * 10}}"
        data-rotate-y="{{((i%6)-1) * 40}}"
        data-rotate-z="{{i * -10}}"
        transitionDuration="4000"
        style="width:600px;height:800px;background-color: #f32420;">
            <h1>{{i}}</h1>
            <p>
            <button ng-click="$emit('previousSlide')">Previous</button>
            <button ng-click="$emit('nextSlide')">Next</button>
            </p>
            <p>Or Left / Right Arrows</p>

        </div> -->
        <!-- <div class="step " data-y="1500">
            <button ng-click="$emit('nextSlide')">Start Over</button>
        </div> -->

    </div>
    <md-button class="md-fab md-primary fixedFabButton" aria-label="Home" ng-click="$emit('goHome')">
      <md-icon md-svg-src="/bower_components/material-design-icons/action/svg/production/ic_home_48px.svg"></md-icon>
    </md-button>
</div>