<div id="impresshook">
    <div class="impress">
        <div class="step slide main">
          <div layout="row" flex="100" style="height:100%;" layout-align="space-around center">
            <div>
              <h2><a href="#identity">شناسنامه</a></h2>
            </div>
            <div>
              <h2><a href="#hadis">احادیث</a></h2>
            </div>
            <div>
              <h2><a href="#structure">ساختار</a></h2>
            </div>
          </div>
        </div>
        <div class="step slide data" 
        data-x="4000"
        data-y="3000"
        data-z="400"
        data-rotate-x="30"
        data-rotate-y="100"
        data-rotate-z="10"
        transitionDuration="4000">

        </div>
        
        <!-- <div class="step slide" 
        ng-repeat="i in [1,2,3,4,5,6,7,8]"
        data-x="{{((i%2)-1) * 800}}"
        data-y="{{(i%4) * 800}}"
        data-z="{{-i * 500}}"
        data-rotate-x="{{((i%2)-1) * 10}}"
        data-rotate-y="{{((i%6)-1) * 40}}"
        data-rotate-z="{{i * -10}}"
        transitionDuration="4000"
        style="width:600px;height:800px;background-color: #f32420;">
            <h1>{{i}}</h1>
            <p>
            <button ng-click="$emit('previousSlide')">Previous</button>
            <button ng-click="$emit('nextSlide')">Next</button>
            </p>
            <p>Or Left / Right Arrows</p>

        </div> -->
        <!-- <div class="step " data-y="1500">
            <button ng-click="$emit('nextSlide')">Start Over</button>
        </div> -->
    </div>
</div>