<div id="impresshook">
    <div class="impress">
        <div class="step slide main">
          <div layout="column"  style="height:100%;" >
            <img class="logo" src="/static/image/logo.svg">
            <div layout="row" flex="100" layout-align="space-around center">
              <div>
                <h2 class="link" ng-click="$emit('goIdentityPage')">شناسنامه</h2>
              </div>
              <div>
                <h2 class="link" ng-click="$emit('goHadisPage')">احادیث</h2>
              </div>
              <div>
                <h2 class="link" ng-click="$emit('goStructurePage')">ساختار</h2>
              </div>
            </div>
          </div>
        </div>
        <div id="identity" class="step slide data" 
        data-x="3000"
        data-y="2000"
        data-z="400"
        data-rotate-x="30"
        data-rotate-y="100"
        data-rotate-z="10"
        transitionDuration="4000">
          <h1 class="title">شناسنامه</h1>
          <p class="text">شیراز یکی از شهرهای بزرگ ایران و مرکز استان فارس است. جمعیت شیراز در سال ۱۳۹۰ خورشیدی بالغ بر ۱٬۴۶۰٬۶۶۵ تن بوده که این رقم با احتساب جمعیت ساکن در حومهٔ شهر به ۱٬۷۰۰٬۶۸۷ تن می‌رسد.
          <br/>
          شیراز در بخش مرکزی استان فارس، در ارتفاع ۱۴۸۶ متری از سطح دریا و در منطقهٔ کوهستانی زاگرس واقع شده و آب و هوای معتدلی دارد. این شهر از سمت غرب به کوه دراک، از سمت شمال به کوه‌های بمو، سبزپوشان، چهل‌مقام و باباکوهی (از رشته کوه‌های زاگرس) محدود شده‌است.
          <br/>
          شیراز پس از تبریز (در سال ۱۲۸۷) و تهران (در سال ۱۲۸۹) سومین شهر ایران است که در سال ۱۲۹۶ خورشیدی، نهاد شهرداری در آن تأسیس گردید. شهرداری شیراز به ۱۰ منطقهٔ مستقل شهری تقسیم شده و جمعاً مساحتی بالغ بر ۲۴۰ کیلومتر مربع را شامل می‌شود.
          <br/>
          نام شیراز در کتاب‌ها و اسناد تاریخی، تحت نام‌های مختلفی نظیر «تیرازیس»، «شیرازیس» و «شیراز» به ثبت رسیده‌است. محل اولیهٔ این شهر در محل قلعهٔ ابونصر بوده‌است. شیراز در دوران بنی‌امیه به محل فعلی منتقل می‌شود و به بهای نابودی اصطخر – پایتخت قدیمی فارس – رونق می‌گیرد. این شهر در دوران صفاریان، بوییان و زندیان پایتخت ایران بوده‌است.
          <br/>
          شیراز از دیرباز به واسطهٔ مرکزیت نسبی‌اش در منطقهٔ زاگرس جنوبی و واقع‌شدن در یک منطقهٔ به نسبت حاصل‌خیز، محلی طبیعی برای مبادلات محلی کالا بین کشاورزان، یکجانشینان و عشایر بوده‌است. همچنین این شهر در مسیر راه‌های تجاری داخل ایران به بنادر جنوب مانند بندر بوشهر قرار گرفته‌است.
          <br/>
          شیراز به سبب جاذبه‌های تاریخی، فرهنگی، مذهبی و طبیعی فراوان، همواره گردشگران بسیاری را به سوی خود فرا می‌خواند. سید علی خامنه‌ای -رهبر ایران- لقب سومین حرم اهل بیت در ایران را به این شهر نسبت داد.</p>
        </div>

        <div id="identity" class="step slide data" 
        data-x="1000"
        data-y="3000"
        data-z="600"
        scale="4"
        data-rotate-x="30"
        data-rotate-y="10"
        data-rotate-z="100"
        transitionDuration="4000">
          <div style="height:100%;width:100%;overflow-y: auto;">
            <h1 class="title">احادیث</h1>
            <div class="hadisBox textBox" ng-repeat="hds in allHadises">
              <h2 class="text">{{hds.text}}</h2>
              <p class="translate">{{hds.translate}}</p>
              <p class="from"><span>{{hds.from}}</span></p>
            </div>
          </div>
          
        </div>
        
        <!-- <div class="step slide" 
        ng-repeat="i in [1,2,3,4,5,6,7,8]"
        data-x="{{((i%2)-1) * 800}}"
        data-y="{{(i%4) * 800}}"
        data-z="{{-i * 500}}"
        data-rotate-x="{{((i%2)-1) * 10}}"
        data-rotate-y="{{((i%6)-1) * 40}}"
        data-rotate-z="{{i * -10}}"
        transitionDuration="4000"
        style="width:600px;height:800px;background-color: #f32420;">
            <h1>{{i}}</h1>
            <p>
            <button ng-click="$emit('previousSlide')">Previous</button>
            <button ng-click="$emit('nextSlide')">Next</button>
            </p>
            <p>Or Left / Right Arrows</p>

        </div> -->
        <!-- <div class="step " data-y="1500">
            <button ng-click="$emit('nextSlide')">Start Over</button>
        </div> -->

    </div>
    <md-button class="md-fab md-primary fixedFabButton" aria-label="Home" ng-click="$emit('goHome')">
      <md-icon md-svg-src="/bower_components/material-design-icons/action/svg/production/ic_home_48px.svg"></md-icon>
    </md-button>
</div>