@import "fontello";
@import "fonts";
@import "../../bower_components/Ionicons/scss/ionicons.scss";
$mainTextColor: #463629;
$seconderyTextColor: #000000;
$seconderyColor1: #195171;
$seconderyColor2: #20A1CC;
$seconderyColor3: #9D2727;
$seconderyColor4: #0C666F;
$seconderyColor5: #364449;
$backgroundColor: #F1ECD8;
$numberColor: #2F8877;
*
{
	font-family: IRANSans;
}
body
{
	margin: 0px;
	padding: 0px;
}
.row.fullWidth
{
	max-width: 100% !important;
}
.paddingless
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.logo
{
	width: 6rem;

}
.marginless
{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
#mainPlate
{
	height:100vh;
	.itemPlate
	{
		background-color: $backgroundColor;
		.versePlate
		{
			.verseBox
			{
				.verse
				{
					text-align: center;
					font-size: 2.3rem;
					font-family: meQuran;
					word-spacing: 0.6rem;
					letter-spacing: -1px;
					color: $mainTextColor;
					opacity: 1;
					-webkit-transition:0.3s linear all;
		         -moz-transition:0.3s linear all;
		          -ms-transition:0.3s linear all;
		           -o-transition:0.3s linear all;
		              transition:0.3s linear all;
				}
				.verse.hd
				{
					opacity: 0;
					-webkit-transition:0.3s linear all;
		         -moz-transition:0.3s linear all;
		          -ms-transition:0.3s linear all;
		           -o-transition:0.3s linear all;
		              transition:0.3s linear all;
				}
			}
			.controlVerseButton
			{
				padding-left: 1rem;
				padding-right: 1rem;
				.icon
				{
					font-family: Ionicons;
					font-size: 2.3rem;
					color: $mainTextColor;
					cursor: pointer;
				}
				.icon:focus
				{
					outline: none;
				}
			}
		}
	}
	.detailPlate
	{
		background-color: $seconderyColor1;
		padding:0px;
	}
	.detailTabs
	{
		.md-tab
		{
			color: $seconderyColor1 !important;	
			span
			{
				color: $seconderyColor1 !important;	
			}
		}
		.md-tab.md-active
		{
			color: #ffffff !important;	
			span
			{
				color: #ffffff !important;	
			}
		}
		md-pagination-wrapper
		{
			right: 0px;
			left: auto;
			right: auto;
			position: relative;
			margin: 0 auto;
			md-tab-item
			{
				float: right;
			}
		}
		md-ink-bar
		{

		}
		md-tab-content.md-right
		{
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-animation: 1s md-tab-content-hide;
			animation: 1s md-tab-content-hide;
		}
		md-tab-content.md-left
		{
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			-webkit-animation: 1s md-tab-content-hide;
			animation: 1s md-tab-content-hide;
		}
	}
	.noValue
	{
		font-size: 2.3rem;
		color: #ffffff;
		text-align: center;
		margin: 0px;
		margin-top: 9rem;
		direction: rtl;
		font-weight: 300;

	}
	.textBox
	{
		margin-top: 2rem;
		margin-bottom: 1rem;
		padding-right: 2rem;
		padding-left: 2rem;
		p,h2,span
		{
			direction: rtl;
			text-align: right;
			color: #ffffff;
			white-space: pre-wrap;
		}
		.text
		{
			font-size: 1.2rem;
			line-height: 2rem;
			font-weight: 400;
		}
	}
	.hadisBox
	{
		.from
		{
			text-align: left;
			span
			{
				font-size: 0.8rem;
				font-weight: 300;
			}
		}
		.translate
		{
			font-size: 1rem;
			font-weight: 400;
			padding-right: 2rem;
		}
	}
	.translateBox
	{
		.text
		{
			text-align: center;
		}
	}
}

